<div style="display: block;">
    <canvas baseChart width="1200" height="600"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
    </canvas>
</div>
<div class="fullWidth">
    <button md-mini-fab color="primary" [disabled]="page < 2" (click)="PreviousPage()"><md-icon>chevron_left</md-icon></button>
    <span class="pageMargin">Page {{page}} / {{pages.length}}</span>
    <button md-mini-fab color="primary" [disabled]="page > pages[pages.length-1]-1" (click)="NextPage()"><md-icon>chevron_right</md-icon></button>
</div>

