<md-toolbar color="primary">{{ title }}</md-toolbar>
<md-card>
    <md-card-content>
        <span class="paddingRight medium"> {{dataLabel}} </span>
        <md-select [(ngModel)]="selectedState">
            <md-option *ngFor="let v of variables" [value]="v.var">{{ v.var }}</md-option>
        </md-select>

        <span class="paddingLeft paddingRight medium"> {{renderLabel}} </span>
        <md-select [(ngModel)]="amount">
            <md-option *ngFor="let a of datasetAmount" [value]="a">{{ a }}</md-option>
        </md-select>

        <lineChartComponent [selectedState]="selectedState" [amount]="amount" (updateVariables)="handleVariablesUpdated($event)"></lineChartComponent>
    </md-card-content>
</md-card>


